@import "public";

// banner
#banner {
    height: 420px;
    overflow: hidden;

    .banner-con {
        width: 1090px;
        height: 420px;
        margin: 0 auto;
        position: relative;
        

        .imgList {
            position: absolute;
            left: 50%;
            margin-left: -960px;
        }

        .dot {
            position: absolute;
            bottom: 14px;
            left: 0;
            right: 0;
            width: 192px;
            margin: auto;

            a{
                float: left;
                width: 6px;
                height: 6px;
                border: 1px solid #cfd0d0;
                border-radius: 6px;
                margin: 0 8px;
                background: #fff;
            }
        }
        
        .leftBtn {
            position: absolute;
            cursor: pointer;
            left: -33px;
            top: 200px;
            width: 50px;
            height: 50px;
            background: url(../images/icon-normal.png) no-repeat left -4984px;
            background-color: #D0C4AF;
            border-radius: 50px;

            &:hover {
                background-color: #B19E7A;
            }
        }

        .rightBtn {
            position: absolute;
            cursor: pointer;
            right: -33px;
            top: 200px;
            width: 50px;
            height: 50px;
            background: url(../images/icon-normal.png) no-repeat left -5164px;
            background-color: #D0C4AF;
            border-radius: 50px;

            &:hover {
                background-color: #B19E7A;
            }
        }
    }
}

// section1
#section1 {
    height: 908px;

    .section1-con {
        width: 1090px;
        height: 908px;
        margin: 0 auto;

        .second1-title {
            height: 28px;
            margin-bottom: 18px;
            line-height: 1;

            h3 {
                float: left;

                a {
                    font-size: 28px;
                    font-weight: 700;
                    color: #333; 

                    &:hover {
                        color: #b4a078;
                    }
                }
            }
            p {
                float: left;
                font-size: 14px;
                color: #333;
                margin-left: 20px;
                margin-top: 13px;
            }
            .more {
                float: right;
                padding-top: 14px;
                font-size: 14px;
                color: #333;

                &:hover {
                    color: #b4a078;
                }
            }
        }

        .brand {
            height: 368px;
            padding-top: 30px;

            .brand-con {
                height: 320px;

                .brand1 {
                    position: relative;
                    display: block;
                    float: left;
                    width: 356px;
                    height: 320px;
                    text-align: center;
                    line-height: 1;
                    margin-right: 9px;
                    color: #666;
                    overflow: hidden;

                    &:hover img{
                        transform: scale(1.05);
                    }

                    h4 {
                        font-size: 24px;
                        margin-bottom: 18px;
                        margin-top: 49px;
                        position: relative;
                        z-index: 2;
                    }

                    span {
                        display: inline-block;
                        font-size: 14px;
                        border-top: 1px solid #666;
                        padding-top: 22px;
                        position: relative;
                        z-index: 2;
                    }

                    .brand1-img {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            transition: 1s;
                        }
                    }
                }

                .brand3 {
                    width: 337px;
                    height: 122px;
                    padding-left: 20px;
                    padding-top: 33px;
                    margin-right: 0;
                    text-align: left;

                    h4 {
                        font-size: 20px;
                        margin-top: 0;
                        margin-bottom: 9px;
                    }

                    span {
                        padding-top: 15px;
                    }
                }

                .brand4 {
                    width: 337px;
                    height: 122px;
                    padding-left: 20px;
                    padding-top: 33px;
                    margin-right: 0;
                    margin-top: 10px;
                    text-align: left;

                    h4 {
                        font-size: 20px;
                        margin-top: 0;
                        margin-bottom: 9px;
                    }

                    span {
                        padding-top: 15px;
                    }
                }
            }
        }

        .new {
            height: 448px;
            margin-top: 62px;

            .new-con {
                .new-list {
                    li {
                        float: left;
                        width: 265px;
                        height: 344px;
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover .show{
                            display: none;
                        }

                        &:hover .changed{
                            display: block;
                        }

                        &:hover .new-msg {
                            background: #f4f0ea;
                        }

                        .changed {
                            display: none;
                        }

                        .new-msg {
                            width: 265px;
                            height: 51px;
                            padding-top: 28px;
                            font-size: 12px;
                            text-align: center;

                            p {
                                a {
                                    color: #333;
                                    &:hover {
                                        color: #b4a078;
                                    }
                                }
                            }

                            span {
                                color: #e0666a;
                            }
                        }
                    }
                }
            }
        }
    }
}

// section2
#section2 {
    height: 698px;
    background: #f4f0ea;

    .section2-con {
        width: 1090px;
        height: 698px;
        margin: 0 auto;

        .section2-title {
            padding-top: 61px;
            height: 28px;
            margin-bottom: 18px;
            line-height: 1;

            h3 {
                float: left;

                a {
                    font-size: 28px;
                    font-weight: 700;
                    color: #333; 

                    &:hover {
                        color: #b4a078;
                    }
                }
            }
            p {
                float: left;
                font-size: 14px;
                color: #333;
                margin-left: 34px;
                margin-top: 13px;
                margin-right: 50px;
                padding-bottom: 6px;
            }
            .more {
                float: right;
                padding-top: 14px;
                font-size: 14px;
                color: #333;

                &:hover {
                    color: #b4a078;
                }
            }
        }

        .section2-list {
            height: 540px;

            .section2-item1 {
                float: left;
                width: 390px;
                height: 530px;
                background: #fff;

                &>a {
                    display: block;
                    width: 390px;
                    height: 400px;
                    border-bottom: 1px solid #f4f0ea;
                    &:hover img {
                        transform: scale(1.05);
                    }

                    img {
                        margin: 0 auto;
                        transition: transform 1s;
                    }
                }

                .section2-item1-msg {
                    width: 390px;
                    height: 129px;
                    text-align: center;

                    em {
                        display: block;
                        width: 34px;
                        height: 20px;
                        margin: 0 auto;
                        background: #e36844;
                        color: #fff;
                        font-size: 12px;
                        margin-top: 18px;
                        margin-bottom: 11px;
                    }

                    h4 {
                        margin-bottom: 18px;

                        a {
                           color: #333;
                            font-size: 18px;
                            &:hover {
                                color: #b4a078;
                            } 
                        }
                    }

                    span {
                        color: #d4286a;
                        font-size: 14px;

                        b {
                            font-size: 12px;
                            color: #999;
                            text-decoration: line-through;
                        }
                    }
                }
            }

            .section2-item2 {
                float: left;
                margin-left: 10px;
                margin-bottom: 10px;
                width: 223px;
                height: 260px;
                background: #fff;

                &>a {
                    display: block;
                    width: 223px;
                    height: 180px;
                    border-bottom: 1px solid #f4f0ea;
                    &:hover img {
                        transform: scale(1.05);
                    }

                    img {
                        transition: transform 1s;
                        margin: 0 auto;
                    }
                }

                .section2-item2-msg {
                    width: 223px;
                    height: 79px;
                    text-align: center;

                    em {
                        display: block;
                        width: 34px;
                        height: 20px;
                        margin: 0 auto;
                        background: #e36844;
                        color: #fff;
                        font-size: 12px;
                        margin-top: 8px;
                        margin-bottom: 7px;
                    }

                    h4 {

                        a {
                            color: #333;
                            font-size: 14px;
                            &:hover {
                                color: #b4a078;
                            } 
                        }
                    }

                    span {
                        color: #d4286a;
                        font-size: 14px;

                        b {
                            font-size: 12px;
                            color: #999;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}

// section3
.section3-con {
    width: 1090px;
    height: 543px;
    margin: 0 auto;
    
    background: #fff;

    .section3-title {
        padding-top: 61px;
        height: 28px;
        margin-bottom: 18px;
        line-height: 1;

        h3 {
            float: left;

            a {
                font-size: 28px;
                font-weight: 700;
                color: #333; 

                &:hover {
                    color: #b4a078;
                }
            }
        }
        .more {
            float: right;
            padding-top: 14px;
            font-size: 14px;
            color: #333;

            &:hover {
                color: #b4a078;
            }
        }
    }

    .section3-list {
        height: 377px;

        .time {
            float: left;
            display: block;
            width: 224px;
            height: 377px;
            text-align: center;
            background: url(../images/timebg.jpg) no-repeat;

            h4 {
                font-size: 28px;
                color: #615a48;
                margin-top: 65px;
                
                &:after {
                    content: '';
                    display: block;
                    width: 20px;
                    border-bottom: 1px solid #615a48;
                    margin: 0 auto;
                    margin-top: 15px;
                }
            }

            p {
                font-size: 18px;
                color: #615548;
                margin-top: 20px;
            }

            .timer-con {
                margin-top: 19px;
                span {
                    display: inline-block;
                }
                .hour, .minute, .second {
                    width: 40px;
                    height: 40px;
                    background: #615548;
                    color: #fff;
                    font-size: 14px;
                    line-height: 40px;
                }
                .col {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 2px;
                }
            }
            
        }

        .section3-item {
            float: left;
            width: 432px;
            height: 187px;
            background: #fff;
            border-top: 1px solid #f0ece4;
            border-right: 1px solid #f0ece4;

            .itemImg {
                float: left;
                width: 180px;
                height: 187px;
                &:hover img{
                    transform: scale(1.05);
                }

                img {
                    transition: transform 1s;
                }
            }

            .itemMsg {
                float: left;
                width: 252px;
                height: 187px;

                h5 {
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 11px;

                    a {
                        color: #333;
                        &:hover {
                            color: #b4a078;
                        }
                    }
                }

                p {
                    font-size: 14px;
                    color: #999;
                }

                .itemNum {
                    height: 14px;
                    padding: 14px 0 8px;

                    .numBar {
                        float: left;
                        position: relative;
                        width: 152px;
                        height: 10px;
                        margin: 2px 0;
                        border: 1px solid #f2cecd;
                        border-radius: 5px;

                        .numBarIn {
                            width: 97px;
                            background-color: #ffe5e5;
                            height: 10px;
                        }
                    }

                    .numTips {
                        font-size: 14px;
                        line-height: 14px;
                        color: #999;
                        margin-left: 162px;
                    }
                }

                .itemPrice {
                    font-size: 14px;
                    line-height: 1;

                    .aPrice {
                        color: #be4141;
                        
                        .yuan {
                            font-size: 18px;
                            margin-left: 4px;
                        }

                        .aPriceIn {
                            margin-right: 12px;
                            font-weight: 700;
                            font-size: 24px;
                            vertical-align: sub;
                        }
                    }

                    .oPrice {
                        color: #999;
                        text-decoration: line-through;
                    }
                }
            }
        }

        .section3-border {
            border-bottom: 1px solid #f0ece4;
        }
    }
}

// section4
#section4 {
    height: 526px;
    background: #f4f0ea;

    .section4-con {
        width: 1090px;
        height: 526px;
        margin: 0 auto;

        .section4-title {
            padding-top: 61px;
            height: 28px;
            margin-bottom: 18px;
            line-height: 1;
    
            h3 {
                float: left;
    
                a {
                    font-size: 28px;
                    font-weight: 700;
                    color: #333; 
    
                    &:hover {
                        color: #b4a078;
                    }
                }
            }
            .more {
                float: right;
                padding-top: 14px;
                font-size: 14px;
                color: #333;
    
                &:hover {
                    color: #b4a078;
                }
            }
        }

        .section4-item {
            height: 376px;

            .itemLeft {
                width: 224px;
                height: 376px;
                position: relative;
                float: left;

                .itemImgWrap {
                    position: relative;
                    width: 224px;
                    height: 376px;

                    .itemImg1 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 224px;
                        height: 376px;
                        transition: opacity 1s;
                    }

                    .itemImg2 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 224px;
                        height: 376px;
                        transition: opacity 1s;
                    }
                }

                

                .leftBtn {
                    position: absolute;
                    left: 10px;
                    top: 158px;
                    width: 30px;
                    height: 30px;
                    background: url(../images/leftBtn.png) no-repeat;
                    z-index: 10000;
                }

                .rightBtn {
                    position: absolute;
                    right: 10px;
                    top: 158px;
                    width: 30px;
                    height: 30px;
                    background: url(../images/rightBtn.png) no-repeat;
                    z-index: 10000;
                }

                .dots {
                    position: absolute;
                    bottom: 14px;
                    left: 76px;
                    z-index: 10000;

                    li {
                        float: left;
                        width: 6px;
                        height: 6px;
                        border: 1px solid #d0cfcf;
                        border-radius: 6px;
                        background: #fff;
                        margin: 0 8px;
                    }
                }
            }

            .itemCenter {
                float: left;
                width: 588px;
                height: 352px;
                background: #fff;
                padding: 24px 17px 0 19px;
                border-right: 1px solid #f4f0ea;

                .centerTitle {
                    height: 31px;
                    border-bottom: 1px solid #f4f0ea;
                    margin-bottom: 20px;

                    h4 {
                        font-size: 16px;
                        color: #333;
                        float: left;
                    }

                    .more {
                        float: right;
                        color: #333;
                        font-size: 12px;
                        &:hover {
                            color: #B19E7A;
                        }
                    }
                }

                .centerCon {
                    width: 266px;
                    height: 130px;
                    float: left;
                    margin-bottom: 20px;
                    margin-right: 38px;

                    .centerImg {
                        float: left;
                    }

                    .centerMsg {
                        width: 126px;
                        height: 130px;
                        float: left;
                        h5 {
                            font-size: 14px;
                            color: #333;
                        }

                        .centerPrice {
                            .aPrice {
                                font-size: 12px;
                                color: #be4141;
                            }
                            .yuan {
                                font-size: 12px;
                                color: #be4141;
                            }
                            .aPriceIn {
                                font-size: 20px;
                                color: #be4141;
                                font-weight: 700;
                            }
                            .oPrice {
                                font-size: 12px;
                                color: #999;
                                text-decoration: line-through;
                            }
                        }

                        .buy {
                            display: block;
                            width: 90px;
                            height: 28px;
                            background: #be4141;
                            color: #fff;
                            font-size: 14px;
                            text-align: center;
                            line-height: 28px;
                        }
                    }
                }

                .centerMar {
                    margin-right: 0;
                }
            }

            .itemRight {
                float: left;
                width: 200px;
                height: 352px;
                background: #fff;
                padding: 24px 19px 0 22px;

                .rightTitle {
                    height: 31px;

                    h4 {
                        font-size: 16px;
                        color: #333;
                        float: left;
                    }

                    .more {
                        float: right;
                        color: #333;
                        font-size: 12px;
                        &:hover {
                            color: #B19E7A;
                        }
                    }
                }

                .rightCon {
                    margin-bottom: 20px;
                    height: 50px;
                    .rightImg {
                        float: left;
                        margin-right: 20px;
                    }
                    .rightMsg {
                        width: 130px;
                        height: 50px;
                        float: left;

                        h5 {
                            color: #333;
                            font-size: 14px;
                            margin-bottom: 8px;
                        }

                        .rightPrice {
                            height: 24px;
                            
                            .price {
                                font-size: 12px;
                                color: #be4141;
                                float: left;
                            }
                            .priceCar {
                                width: 24px;
                                height: 24px;
                                float: right;
                                background: url(../images/cart.png) no-repeat left -157px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// section5
.section5-con {
    width: 1090px;
    height: 7953px;
    margin: 0 auto;
    padding-top: 62px;
    border-bottom: 1px solid #e8e8e8;

    .con1 {
        height: 789px;

        .section5-title {
            height: 28px;
            margin-bottom: 18px;
            line-height: 1;
    
            h3 {
                float: left;
    
                a {
                    font-size: 28px;
                    font-weight: 700;
                    color: #333; 
    
                    &:hover {
                        color: #b4a078;
                    }
                }
            }
            .more {
                    float: right;
                    font-size: 14px;
                    color: #333;
        
                    &:hover {
                        color: #b4a078;
                    }
            }

            .section5-nav {
                float: right;
                margin-right: 29px;
                span {
                    font-size: 14px;

                    a {
                        color: #333;
                        &:hover {
                            color: #b4a078;
                        }
                    }
                }
            }
            
        }

        .con1-banner {
            display: block;
        }

        .con1-item {
            height: 334px;
            margin-top: 20px;

            .item-show {
                float: left;
                width: 265px;
                height: 334px;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }

                .item-img {
                    display: block;
                    background: #f4f4f4;
                    margin-bottom: 30px;
                }
                
                .item-name a {
                    font-size: 12px;
                    font-weight: 700;
                    color: #333;
                    &:hover {
                        color: #b4a078;
                    }
                }
                .price {
                    color: #be4141;
                    font-size: 12px;
                }
            }
        }
    }
}